[2016-01-28 13:08] ChilliByte opened #1 "Add Google Analytics"
Add google analytics

[2016-01-28 13:09] ChilliByte opened #2 "Add sharing buttons"
Can be created through CSS easily

Where should we have them?
Which services?
How big?

[2016-01-28 13:12] benjimarshall opened #3 "Favicon"
A favicon for the site

[2016-01-28 13:13] benjimarshall opened #4 "Move the Countdown site"
Move the the countdown site to somewhere where it isn't abundantly clear what the countdown is for

[2016-01-30 18:04] benjimarshall opened #5 "New Magazine Name"
Change the magazine name to BackChat

[2016-01-30 18:06] benjimarshall opened #6 "Images"
Make sure that images in the article are stable

[2016-01-30 18:09] benjimarshall opened #7 "Go Back button on each article"
Make the Go Back buttons point to the relevant section, preferably with the name of the section. Also, make the magazine title at the top link back to home

[2016-02-17 14:48] isaacrg opened #8 "Article categories"
@ChilliByte, will each article have only one category? I need to know for the improved version I'm making at [isaacrg/kefwmag.github.io](https://github.com/isaacrg/kefwmag.github.io), which I will eventually PR in. (Or you could give me edit access plz)

[2016-02-17 16:34] benjimarshall commented on #8
It will only be in one major category such as Sport or Technology. Subcategories would be cool but if they can't be done, don't sweat it

[2016-02-17 16:34] benjimarshall commented on #8
By the way, thanks for your help

[2016-02-17 20:40] ir-g commented on #8
@benjimarshall No problem! I'll try to complete the fix tomorrow with an end aim of having a reasonable fix tomorrow(a few if statements in Jekyll), alongside any relevant changes to the underlying html, JS and CSS.

A different font on the site might be nice, and an about page and a contact form probably wouldn't hurt being on the site. These could be added to Github issues, though it's not for m

[2016-02-17 20:42] benjimarshall commented on #8
A Contact page, certainly. The font should be Raleway, which is was the editors voted for, and they decided they wanted the same font for both titles and text

[2016-02-18 13:54] benjimarshall commented on #6
@ChilliByte @isaacrg  what on earth is going on with your image handling, Deep? Can we try to implement some kind of image scaling, but more importantly images that don't nuke the text underneath (try using Find for something like "ipsum", the words are very definitely there, just hidden)

[2016-02-18 14:27] ir-g commented on #6
@benjimarshall Eek. I don't quite know what happening here. Playing in dev tools isn't helping unusually - @ChilliByte needs to check through the theme code.

[2016-02-27 15:38] #5 closed

[2016-02-27 15:40] ChilliByte commented on #6
Image code wasnt broken, was never added. Sizing rules added to /deep/style.css

WARNING: FIRST PARAGRAPH OF AN ATRICLE IS WHAT IS DISPLAYED ON THE PREVIEW PAGE, AND THIS CANNOT BE AN IMAGE. THIS IS NOT THE FAULT OF MY CSS. THIS IS JEKYLL.

[2016-02-27 15:40] #6 closed

[2016-02-27 15:40] ChilliByte commented on #8
Thank you! Is this issue still necessary? The Categories seem to be working.

[2016-02-27 15:55] ChilliByte commented on #7
The back buttons go to the previous page, if a specific category is required, it can be accessed throught the menu. Is this not satisfactory?

[2016-02-27 16:36] ir-g commented on #6
@ChilliByte How is this Jekyll's fault, out of interest?

[2016-02-27 16:37] ir-g commented on #8
@ChilliByte No it isn't, but a "contact page" issue should be created

[2016-02-27 16:37] ChilliByte commented on #3
Template Favicon Added, Please update favicon.ico when a new design is required

Favicon Image File requirements:
Filename: favicon.ico
Location: /
Size: 32x32

[2016-02-27 17:31] benjimarshall commented on #3
Can we make the white bit of the Favicon transparent?

[2016-02-27 17:45] benjimarshall opened #10 "Broken share buttons"
The share button on the https://kefwmag.github.io/tech/2016/01/26/technology-post-1.html page yields a fairly dodgy looking link, considering it is missing the kefwmag.github.io domain: `/tech/2016/01/26/technology-post-1.html`

Can this be fixed?

[2016-02-27 17:45] #2 closed

[2016-02-27 17:46] benjimarshall commented on #1
Can I bump this one? It shouldn't be too hard, and I'll have a look later today

[2016-02-27 17:51] ChilliByte commented on #10
Wow great minds think alike I was literally writing up this issue. The Google+ and Facebook ones seem to be 100% broken for now, twitter fix for your outlined issue is coming next commit

[2016-02-27 18:30] ChilliByte commented on #10
All Fixed

[2016-02-27 18:30] #10 closed

[2016-02-27 18:31] ChilliByte commented on #3
We need an actual favicon image, properly aligned with transparency, then upload that, I dont have anything to edit images with.

[2016-02-27 18:31] ChilliByte commented on #3
yay misclicks

[2016-02-27 18:49] #8 closed

[2016-02-27 18:49] ChilliByte opened #11 "Contact Page"
@benjimarshall what should the contact page contain?

[2016-02-27 19:03] benjimarshall commented on #10
Good job

[2016-02-27 20:14] ChilliByte opened #12 "Improve Reading Layout"
The current fullscreen article layout is difficult to read. Perhaps something more akin to [mic.com](http://mic.com)'s layout would look more professional on the big screen?

[2016-02-27 20:58] ir-g commented on #7
Benji's suggestion works, but might involve some fiddling with Jekyll - I can do that tommorow if anyone wants it?

[2016-02-27 21:00] isaacrg opened #13 "Make site work on mobiles"
The site needs a meta viewport tag. And maybe some CSS tweaks?

[2016-02-27 21:04] isaacrg opened #14 "Header links"
The site and section headers should probably be both made as links to the homepage and section pages respectively.

[2016-02-27 21:05] ir-g commented on #14
Again, if someone assigns me, I will do this.

[2016-02-27 21:13] benjimarshall commented on #7
Go for it @isaacrg. Can I ask that you do it on a separate branch? Deep isn't too comfortable around them and I'd rather not have stuff broken on the master branch.

[2016-02-27 21:16] benjimarshall commented on #13
It seems particularly bad on phablet's which tend to render it as a desktop site with tiny text

[2016-02-27 21:17] benjimarshall commented on #14
If you can do it, the please do.

[2016-02-28 07:59] ir-g commented on #7
Sure

On Sat, 27 Feb 2016 21:13 Benji Marshall, notifications@github.com wrote:

[2016-02-28 08:00] ir-g commented on #13
All mobiles render it like that. It seems to needs some additional CSS, and
a meta viewport tag

On Sat, 27 Feb 2016 21:16 Benji Marshall, notifications@github.com wrote:

[2016-02-28 12:58] benjimarshall opened #15 "Caption images"
Add some form of capability to caption included images

[2016-02-28 14:19] ir-g commented on #7
@benjimarshall With the introduction of the section and site titles being links([at my fork](http://ir-g.uk/kefwmag.github.io/sports/2016/02/08/sport-post-1.html)), I would argue that the "Go Back" button is useless. What are your thoughts?

[2016-02-28 14:22] benjimarshall commented on #7
That sounds good, getting rid of the go back button. Could you have a look at the fairly funky CSS that the headers now seem to be displaying on your fork?

[2016-02-28 14:30] ir-g commented on #7
@benjimarshall Sure, though name what changes you want(eg remove underline, change color to blue) so I get the changes right

[2016-02-28 14:35] benjimarshall commented on #7
Removing the underline would be nice. The change of background of the header is the main thing: [here](http://ir-g.uk/kefwmag.github.io/news/) the background behind the text "News" is a grey colour when I would like it to be a red colour white text. I'll make a separate issue to address all of the CSS

[2016-02-28 14:35] ir-g commented on #7
@benjimarshall Cool, thanks

[2016-02-28 14:46] benjimarshall opened #16 "Site colours and CSS"
The title bar should be the chosen colour (more later), with a darker variant of it underneath to separate from the magazine category name. In both places the text should be white, and not underlined. The read more button should be the chosen colour of the page (regardless of the article's category!)

Chosen colours:
- Main page: Light Blue (#00ADF1)
- News: Red (#CC0000)
- Technology: Grey (#3333

[2016-02-28 14:47] benjimarshall commented on #7
See [this issue](16) @isaacrg

[2016-02-28 14:51] ir-g commented on #7
@benjimarshall Thanks!

[2016-02-28 15:00] benjimarshall commented on #15
Right, I've worked out how to get image captions with Jekyll where `{{ include.url }}` is the image path and `{{ include.description }}` is the image caption. in [_includes/image.html](https://github.com/Kefwmag/kefwmag.github.io/blob/master/_includes/image.html) I assume you would prefer something nicer than table captions as a method of displaying this (`div`s maybe), @isaacrg and @ChilliByte, s

[2016-02-28 22:34] #14 closed

[2016-02-29 06:51] isaacrg opened #19 "Make site header border bottom match site header background"

[2016-02-29 06:51] isaacrg opened #20 "Add Android page themes"

[2016-02-29 06:55] isaacrg opened #21 "Set site title anchor to just cover the h1"

[2016-02-29 07:48] benjimarshall commented on #16
Fulfilled by pull request #18

[2016-02-29 07:48] #16 closed

[2016-02-29 16:04] #21 closed

[2016-02-29 16:24] ir-g commented on #19
Resolved. Additionally, border-bottom on site header has been removed due to disjointed appearance on desktops

[2016-02-29 16:43] #19 closed

[2016-02-29 18:20] ir-g commented on #20
Done! @benjimarshall try http://kefwmag.github.io/dindex (and other pages) in Android Chrome

[2016-02-29 18:21] #20 closed

[2016-02-29 18:22] #7 closed

[2016-02-29 18:26] benjimarshall commented on #13
@isaacrg Could you have a close look at the padding? Its [a bit excessive for me](http://imgur.com/Y4WpSb8).

[2016-02-29 18:46] ir-g commented on #13
I have filed a fix. Does it work now?

On Mon, 29 Feb 2016 at 18:26 Benji Marshall notifications@github.com
wrote:

[2016-02-29 18:48] benjimarshall commented on #13
That's much better. This seems to be sorted as far as I can see

[2016-03-02 16:17] ChilliByte commented on #3
Resolved, @benjimarshall ?

[2016-03-02 16:19] benjimarshall commented on #3
Nope, the next _fun_ job is to have a different favicon colour for each page... I need to pin Kane down to get an original file for me to work with. Don't worry too much for now

[2016-03-02 19:22] benjimarshall commented on #13
Right, it still seems quite wonky: I've moved the site from `dindex.html` to `index.html` but that shouldn't mean too much I don't think. The "Read more" buttons and padding seems to be off: [here](http://imgur.com/a/k1NYV)

[2016-03-02 19:22] benjimarshall commented on #13
@isaacrg @ChilliByte ???

[2016-03-02 19:40] ir-g commented on #13
@benjimarshall I dont think that is your fault, but by goodness does that look ugly

[2016-03-02 21:29] benjimarshall commented on #1
Done

[2016-03-02 21:29] #1 closed

[2016-03-05 11:06] benjimarshall commented on #13
@isaacrg The "Read more" buttons all seem to be much better, so thank you for that. Padding still seems to be an issue both on [desktop ](http://imgur.com/DpuzAiq) and on [mobile](http://imgur.com/SleKpOZ).

[2016-03-05 13:57] ir-g commented on #13
@benjimarshall I will direct this issue towards @ChilliByte - He understands the code far better than I do (he wrote it, I didn't!), so will likely be able to resolve padding issues more easily.

**Todo:**
- [ ] Fix desktop padding ([Preview](http://i.imgur.com/DpuzAiq.png))
- [ ] Fix mobile padding ([Preview](http://i.imgur.com/SleKpOZ.png))

[2016-03-05 14:02] ChilliByte commented on #13
the padding issues are def. temporary, if possible I ask you remove any edits (I am aware they look horrible, they are being fixed) This will be fixed ASAP, after I finish the desktop site

[2016-03-05 15:35] benjimarshall commented on #13
Should you pair instead sit down and talk through the edits, instead essentially deleting already completed work? I get that both of you dislike each other's code but would it be possible to explain your bits to each other, @isaacrg, @ChilliByte?

[2016-03-05 15:51] ir-g commented on #13
@benjimarshall Don't worry, we have spoken - Deep will make changes to the
existing set, just don't make _any_ changes whatsoever. Deep plans on
rolling a fix tomorrow.

On Sat, 5 Mar 2016 15:35 Benji Marshall, notifications@github.com wrote:

[2016-03-06 19:24] ChilliByte commented on #13
are these issues now fixed?

[2016-03-06 19:26] benjimarshall commented on #13
Well, the padding is. You've broken the word "Home" on the homepage but all of the other titles like "News" are fine

[2016-03-06 19:32] benjimarshall commented on #13
@ChilliByte OK that looks good for now

[2016-03-06 19:32] #13 closed

[2016-03-06 21:11] ChilliByte commented on #4
is this done?

[2016-03-06 21:34] benjimarshall commented on #4
Yep

[2016-03-06 21:34] #4 closed

[2016-03-07 12:55] ChilliByte commented on #12
Added padding and increased h1 size

[2016-03-08 07:51] benjimarshall commented on #12
@ChilliByte The adjustments to h1 on the article overview pages are not good, the font is much too large

[2016-03-08 11:31] #12 closed

[2016-03-12 22:44] ChilliByte opened #22 "Share buttons overlap on small screens"
the share buttons are absolutely positioned. This works perfectly, unless the header wraps onto two lines, where it overlaps. Make them inline so that they move down when the header wraps.

[2016-03-13 00:08] ChilliByte commented on #22
fixed, added a &lt;figure> element and relevant styles

[2016-03-13 00:08] #22 closed

[2016-03-13 00:40] #15 closed

[2016-03-13 00:52] ChilliByte commented on #11
added placeholder html page at /contacts/

[2016-03-13 00:56] ChilliByte opened #23 "Delete Redundant Files"
there are many unused unnecessary files remaining in the repo that are > 2 months old, I would silently have deleted them but I dont want to break anything, so could someone please go through the repo deleting anything unnecessary?

[2016-03-13 01:09] ChilliByte opened #24 "Copyright/Creator Mark?"
Should there be a small amount of text somewhere on the layout stating when the site was created, and who by, or would that be inappropriate?

The text would be something along the lines of

BackChat &copy; [KEFW](//kefw.org) 2016. Website made with <3 By [Deep Sohelia](//chillibyte.github.io) and [Isaac Reid-Guest](//ir-g.uk). Backend written by Benji Marshall, [Matt Randell](//hexaglow.com) and

[2016-03-13 01:27] ChilliByte commented on #24
will add temporarily to test css, but can remove if others deem it innappropriate

[2016-03-13 02:34] ChilliByte opened #25 "RSS"
Do people still use RSS? Does Jekyll generate RSS? Should we set it up?

[2016-03-13 03:10] ChilliByte commented on #25
added

[2016-03-13 03:10] #25 closed

[2016-03-13 16:23] benjimarshall opened #26 "Author tag"
@ChilliByte can you add some way of attributing authors, probably best done by having the author in the front matter, and then some subtitle style text at the top of the text saying `By {{author}}` or similar?

[2016-03-13 16:27] benjimarshall commented on #24
Looks good, and the general idea is good, though I'm not super comfortable with the heart but that probably is just me. As with all things with this project, [it renders badly on mobile](http://imgur.com/OO3zxti)

[2016-03-13 16:34] ChilliByte commented on #26
already implemented

[2016-03-13 16:45] ChilliByte commented on #26
http://kefwmag.github.io/

[2016-03-13 16:45] #26 closed

[2016-03-18 22:19] benjimarshall opened #27 "Add the logo in the top right corner"
Each section will have a different logo, I will be making those logos over the next day or so

[2016-03-18 22:24] benjimarshall opened #28 "Add an Agony Aunt Section"
Add an Agony Aunt Section, colours tbc

[2016-03-26 11:03] ir-g commented on #24
Concerning the copyright, would that not surely remain with the respective authors? If so, then "All Rights Reserved" might make more sense.

[2016-04-04 13:36] ChilliByte commented on #24
I literally have no clue how copyrights work I just made some BS up, if you're more familiar with how this all works then just edit/comment what you think it should say and I'll or someone else'll change it

[2016-04-04 13:39] ChilliByte commented on #28
how will this work?

[2016-04-04 13:41] ChilliByte commented on #27
is this a good idea? personally I think it might look a little bodged and tacky

[2016-04-04 15:45] ir-g commented on #27
I'm with @ChilliByte - There is no reason to add the logo, and it wouldn't make any design sense - particularly with the section-coloured headers

[2016-04-04 16:27] benjimarshall commented on #28
Simple another category like "Sports" or "News" or whatever

[2016-04-04 16:27] ir-g commented on #28
Errmmmm Not so simple. Also, name the colours

On 04/04/2016, Benji Marshall notifications@github.com wrote:

[2016-04-04 16:34] benjimarshall commented on #28
A brightish pink around the #ff33ff mark

[2016-04-04 16:34] benjimarshall commented on #28
Also, why isn't it very simple?

[2016-04-04 16:56] ir-g commented on #28
We have currently have to manually make the CSS customisations for each
section, add in a category new page, and we need a good idea of what it
will be displayed as, on the site.

On Mon, 4 Apr 2016 at 17:34 Benji Marshall notifications@github.com wrote:

[2016-04-04 16:56] ir-g commented on #28
Also, give us _both_ colours you want us to use

On Mon, 4 Apr 2016 at 18:55 Isaac Reid-Guest isaac.reid.guest@gmail.com
wrote:

[2016-04-04 17:03] benjimarshall commented on #28
We could make it better, but its probably more effort than its worth. #e614e6 for the darker one and #ff50ff for the lighter one

[2016-04-04 17:33] ir-g commented on #28
Ok, I'll get to it.

On Mon, 4 Apr 2016 at 18:03 Benji Marshall notifications@github.com wrote:

[2016-04-04 18:09] ChilliByte commented on #28
for clarification, will there be a form to submit stuff or will these just be a new type of post?

[2016-04-04 18:23] ChilliByte commented on #28
also, fixing colors

[2016-04-04 19:54] ir-g commented on #28
Awesome -- I'm not sure what colours would suit it

On Mon, 4 Apr 2016 19:23 Deep Sohelia, notifications@github.com wrote:

[2016-04-04 19:57] ChilliByte commented on #3
Implemented. see /assets/favicons/

[2016-04-04 19:57] #3 closed

[2016-04-04 19:58] ChilliByte commented on #27
plus, the logo is already visible in the favicon

[2016-04-04 20:00] ChilliByte commented on #27
would a watermark in the lower right hand corner look better?

[2016-04-04 20:02] benjimarshall commented on #27
@ChilliByte Give it a try, and we can roll it back if it looks bad

[2016-04-04 20:02] ChilliByte commented on #27
okie kokie

[2016-04-04 20:38] ChilliByte commented on #27
added

[2016-04-04 23:18] ChilliByte commented on #28
colours fixed, #f55 and #f99 were chosen by others

[2016-04-04 23:40] ChilliByte commented on #28
issue still needed?

[2016-04-04 23:40] #27 closed

[2016-04-05 08:37] ir-g commented on #28
I don't think so. All seems good.

On Tue, 5 Apr 2016 at 00:40 Deep Sohelia notifications@github.com wrote:

[2016-04-05 08:55] #28 closed

[2016-04-07 10:16] ir-g commented on #27
@benjimarshall Thoughts on the current look?

[2016-04-08 08:18] benjimarshall commented on #27
Looks good. It can get entirely lost on mobile but at least it doesn't spectacularly break anything.

[2016-04-08 10:47] ir-g commented on #27
Yeah... Also, if any more menu options are added, we are going to want to re-write the whole menu setup.

[2016-04-11 08:27] ChilliByte commented on #24
Issue still needed?

[2016-04-11 08:28] ir-g commented on #24
No, we should be good to close this.

[2016-04-11 08:29] #24 closed

[2016-04-16 12:03] benjimarshall commented on #11
@ChilliByte Can you add that email form to it, with some kind of generic line like "Send us any compliments, queries and issues you have:"

[2016-04-16 12:04] benjimarshall opened #29 "Move over the front matter generator"
@ChilliByte can you move the front matter generator to this site, and reply with a link?

[2016-04-16 12:06] benjimarshall opened #30 "Edition 1 article upload"
Currently waiting on final edits from staff and opinions of leadership

[2016-04-17 18:16] #11 closed

[2016-04-17 18:45] #29 closed

[2016-04-17 18:45] ChilliByte commented on #29
/format.html

[2016-04-17 20:30] ChilliByte commented on #23
well i got a lot of fucking help with this

[2016-04-17 20:30] ChilliByte commented on #23
sorry for salt

[2016-04-17 20:35] ir-g commented on #23
@ChilliByte The folder called CSS can go. Also - rename the folder called deep, and the layout references to it.

[2016-04-17 20:44] ChilliByte commented on #23
no need to rename thats too much effort seeing as I dont know how many times its been referenced

[2016-04-17 21:35] ir-g commented on #23
I'll sort that one tomorrow then - alongside removing any old unused JS files

[2016-04-19 07:39] ir-g commented on #23
I think that's us sorted - I've modified the layout and the @benjimarshall has deleted the countdown stuff.

[2016-04-19 07:39] #23 closed

[2016-04-19 11:42] ChilliByte opened #31 "Pushed articles not displaying"

[2016-04-19 13:17] ChilliByte commented on #31
Fucking chrome cache

[2016-04-19 13:17] #31 closed

[2016-04-19 13:57] ir-g commented on #31
Idk, from what I could tell,  Github Pages was taking a while to process...

On Tue, 19 Apr 2016 14:17 Deep Sohelia, notifications@github.com wrote:

[2016-04-21 12:42] ChilliByte opened #32 "Find way of linking submit form to ama section"
The submit form can be linked in an article with a simple &lt;a> tag:

`<a href = "/ama/submit"> Message us! </a>
`
etc etc, however, this may not be the best way, and an alternative may be wanted.
If an alternative is not necessary, then an button to add this to the article needs to be added to /format.html

[2016-04-21 13:06] benjimarshall commented on #32
We could have a final boilerplate paragraph with a link, asking them to email us. The link could go to a a page very similar to the contact page. I'll chat to Ciaran to see if they want it to go to another email address.

[2016-04-21 14:29] ChilliByte commented on #32
the submit form is already set up

[2016-04-21 14:30] ChilliByte commented on #32
http://backchat.kefw.org/ama/submit/

[2016-04-21 16:34] benjimarshall commented on #32
Well, that the bottom of each article we could have a line saying: "Submit your letters to Mel and Ma _here_"

[2016-04-21 16:38] ChilliByte commented on #30
added a few, without images

[2016-04-21 16:38] ir-g commented on #32
Or that banner/tagline could be automatically placed at the top or bottom of all
ama posts?

[2016-04-21 16:39] benjimarshall commented on #32
If you can, sure. It seems like a lot of effort since we can just copy and paste that sentence into each article.

[2016-04-21 16:39] ChilliByte commented on #32
if we put it at the top we f**k up the extract/excerpt system

[2016-04-21 16:39] ir-g commented on #32
I can add the the tagline in very easily - I'll have a test now.

[2016-04-21 16:45] isaacrg opened #33 "Crazy commit"
@benjimarshall's commit 7b2dc6241be1cbf3a9239d6af9afe151c6725426 has some messy, non-extensioned files, and some unexplained behaviour... Whats up?

[2016-04-21 16:46] ir-g commented on #33
I'm of course guessing this is linked to #30

[2016-04-21 16:47] ir-g commented on #32
@ChilliByte Duly noted. I'll put them at the bottom, but holding off due to #33.

[2016-04-21 16:48] ChilliByte commented on #32
@isaacrg Worth noting that the excerpt system uses the first paragraph of the post, if you're not actually editing the posts, then at the top is fine

[2016-04-21 16:49] ChilliByte commented on #33
wtf happened? XD

[2016-04-21 16:50] ir-g commented on #32
@ChilliByte Ok, cool, do you have a preference for it to be at the top or the bottom?

[2016-04-21 16:50] ir-g commented on #33
~~F*ck knows.~~ @benjimarshall might know.

[2016-04-21 16:52] ChilliByte commented on #32
@isaacrg I think it'd be less likely to be ignored at the top

[2016-04-21 16:52] ir-g commented on #32
@ChilliByte Ok, cool

[2016-04-21 16:53] ChilliByte commented on #33
GH Status is all ok https://status.github.com/

[2016-04-21 16:54] isaacrg opened #34 "Author naming"
In post author sections, it shows their respective titles. Should that happen, given that titles will change over time?

eg: `Kane Ogier - Arts and Entertainment Editor`

Also, there appear to be **two** people using the title _Arts and Entertainment Editor_

[2016-04-21 16:55] ir-g commented on #33
Yep, I think @benjimarshall has sent in a broken merge maybe.

[2016-04-21 16:58] ChilliByte commented on #34
These are simply and copy and pasted from the printed copy, not our decision

[2016-04-21 16:59] ChilliByte commented on #34
and yes there are 2

[2016-04-21 17:03] benjimarshall commented on #33
I know. Git cannot revert due to the special characters (a question mark) in one of the names. We're just going to need to remake the files. We has successfully broken Git, I will be looking into it later tonight and potentially be firing an issue off to Git themselves

[2016-04-21 17:05] ChilliByte commented on #33
are we 100% certain its the softwares fault and one of us just didnt do something stupid? for software that widely used I wouldve thought they wouldve sorted that stuff...

[2016-04-21 17:08] ChilliByte commented on #33
Is everyone everywhere on Git f**cked then? Because special characters are unavoidable.

[2016-04-21 17:09] #34 closed

[2016-04-21 17:10] benjimarshall commented on #33
70% It's not our fault. The error message I'm getting `The following untracked working tree files would be overwritten by merge` should appear when the files are present, but they are not

[2016-04-21 17:13] benjimarshall commented on #33
Right, back to as it was an hour ago: everyone can edit, be very careful when messing with reverts and checkouts for before today

[2016-04-21 17:14] #33 closed

[2016-04-21 17:18] ChilliByte opened #35 "Make the formatter remove all illegal characters from the filename"

[2016-04-21 17:20] ChilliByte opened #36 "Fix Sharing Buttons (again)"
none of them work now

[2016-04-21 17:24] ir-g commented on #34
@ChilliByte OK, awesome.

[2016-04-21 17:27] ir-g commented on #33
@benjimarshall  FYI, use the Github web interface for non-development edits. It serves as a safer platform for commits, doesn't induce merges, and is far more trustworthy. Also, special characters have a track record of being better within Github web(though not perfect), as Windows and CMD both have their own special character setups that may be interfering with Git's own ability to read files.

[2016-04-21 17:29] ir-g commented on #32
Also, @benjimarshall your thoughts?

[2016-04-21 17:33] benjimarshall commented on #33
@isaacrg That might be it, but any high-powered git features such as revert or checkout (to change undo merge) are not available online. By using the online environment which doesn't complain when it ought to (such as a question mark in a file name, which is an all round terrible idea because of its wildcard properties), you may just be sowing issues which we the reap later

[2016-04-21 17:34] benjimarshall commented on #33
https://josephscott.org/archives/2007/02/things-that-shouldnt-be-in-file-names-for-1000-alex/

[2016-04-21 17:41] #36 closed

[2016-04-21 17:41] benjimarshall commented on #33
Right, now that the special characters have been removed online, my git repo on my laptop is now happy

[2016-04-21 17:43] ChilliByte commented on #33
when removing characters from filenames just make sure you dont break things

[2016-04-21 17:45] benjimarshall commented on #33
AFAIK I don't think we have

[2016-04-21 17:46] ir-g commented on #30
@benjimarshall Is this now complete?

[2016-04-21 17:48] benjimarshall commented on #30
Lol no. I'll email you the current, slightly out of date PDF that we are working to

[2016-04-21 17:48] #35 closed

[2016-04-21 17:48] ir-g commented on #34
@benjimarshall Thoughts?

[2016-04-21 17:49] ir-g commented on #30
@benjimarshall Thanks.

[2016-04-21 17:51] benjimarshall commented on #30
I'll work from the back, Deep so far has worked from the front, I'll leave you pair to negotiate if or what you do

[2016-04-21 17:54] ChilliByte commented on #30
we need to upload images, @isaacrg could do that?

[2016-04-21 17:56] benjimarshall commented on #30
Nope, we need the InDesign files from Ciaran who is out. I'll sort that tomorrow, let's just get the text up

[2016-04-21 18:07] ir-g commented on #30
I'll do the ama's if you like? Should Ama's be one article for each edition
or separate?

[2016-04-21 18:11] isaacrg opened #37 "Plz, link here"
@benjimarshall plz could you put a link to the site in the box [here](http://imgur.com/kM6K3HF)?

[2016-04-21 18:12] isaacrg opened #38 "Edition 1: Get the images"
Please can we get all the edition 1 images and put them in their own special folder. (I know there is a hold up atm, but the issue is there just to keep an eye on it...

[2016-04-21 18:23] benjimarshall commented on #30
I've nearly finished them, I didn't notice till now. I was doing them as separate articles though I have come to regret that decision

[2016-04-21 18:26] ir-g commented on #30
If you've started, then go right ahead on them, I would recommend a single post, thought that is up to you, though once we have started with a style, we may well want to continue it.

[2016-04-21 18:35] benjimarshall opened #39 "Abnormally small bullet points and numbered lists"
The CSS on the bullet points and numbered lists make the text look super small, can this be fixed? See: [this](http://backchat.kefw.org/lifestyle/2016/04/21/apples-apples-everywhere.html)

[2016-04-21 18:38] benjimarshall commented on #37
Done

[2016-04-21 18:38] #37 closed

[2016-04-21 18:43] #39 closed

[2016-04-21 18:46] ChilliByte commented on #38
the folder for all images is /assets
we can either dump all the images in there, or dump them in a sub folder for each edition

[2016-04-21 18:53] ChilliByte opened #40 "Fix AMA excerpts"
All the excerpts for the AMA sections are "Mel and Ma"

Maybe add "Dear Mel and Ma" to the top insert, and remove that line from each post?
Related: #32

[2016-04-21 18:53] ChilliByte commented on #40
#32

[2016-04-21 18:54] benjimarshall commented on #30
UPDATE: I've added all the articles except the Oscars ones because they look like a pain in the backside. I'll get to those tomorrow

[2016-04-21 18:55] benjimarshall commented on #38
I'm going to look into Git LFS for the butt-ton of images. I'll get back to you on that

[2016-04-21 18:57] ChilliByte commented on #30
@benjimarshall I saw them and said lol nope, anything I can do to help?

[2016-04-21 18:57] ChilliByte commented on #32
@isaacrg See #40

[2016-04-21 19:14] benjimarshall commented on #30
Not at the moment. We might have a _super fun_ image upload-athon tomorrow afternoon, but not for now.

With the Oscars ones, I'm going to whinge and we'll come up with a plan

[2016-04-21 20:06] benjimarshall commented on #33
@isaacrg @ChilliByte  It's 95% the GitHub Web Interfaces fault for absolutely [no input validation](https://github.com/benjimarshall/special-characters), 2% Git's fault for handling stupid files stupidly, and 3% my fault for letting it run riot. I'm off to make an issue with GH themselves

[2016-04-21 20:12] isaacrg opened #41 "Article mis-sizing on mobiles"
Re: #40 (Broken ama excerpts)

Articles with smaller/title excerpt combinations don't follow a standard size on some mobile devices.

https://imgur.com/U5qc0vm

[2016-04-21 20:16] ir-g commented on #40
Potentially, though this works on the basis of the ama team never changing. How about we see if we can swap the excerpt with a custom description on the listing pages?

[2016-04-21 20:24] ChilliByte commented on #33
can we do a lil bit of cheeky xss with the file name box?

[2016-04-21 20:26] ChilliByte commented on #40
"Mel and Ma" is a pseudonym, it isnt even close to the names of the real people, i dont thing thats worth doing, @isaacrg

[2016-04-21 20:47] benjimarshall commented on #41
Haven't got a clue. Thoughts, @ChilliByte?

[2016-04-21 21:04] ir-g commented on #33
I doubt it, but that would be fun...

On Thu, 21 Apr 2016, 21:24 Deep Sohelia, notifications@github.com wrote:

[2016-04-21 21:11] ir-g commented on #40
Fair enough then, I'll get to it!

[2016-04-21 21:15] #40 closed

[2016-04-21 21:20] isaacrg opened #42 "Modify ama posts"
In light of #40, the ama posts need the opening Mel and Ma section removing.

[2016-04-22 09:14] benjimarshall commented on #38
Got them all, some with better names than others

[2016-04-22 09:14] #38 closed

[2016-04-22 09:22] ChilliByte commented on #41
Missing Width Statement in Mobile Media Query CSS. Will fix ASAP

[2016-04-22 09:27] #41 closed

[2016-04-22 09:31] ir-g commented on #41
Brilliant, thanks!

[2016-04-22 09:32] ir-g commented on #42
Looks like @chillibyte sorted this!

[2016-04-22 09:32] #42 closed

[2016-04-22 09:33] ir-g commented on #32
Given #40,  this is sorted. :)

[2016-04-22 09:33] #32 closed

[2016-04-22 09:35] ChilliByte commented on #42
Just about to close XD Can you fix the bold in the excerpt

[2016-04-22 09:37] ChilliByte commented on #40
@isaacrg can you make the "Dear Mel & Ma" in normal plain text

[2016-04-22 09:38] ir-g commented on #38
Brilliant - FYI try to name future folders as `assets/edition-2/`, as opposed to using caps or spaces, just for URL safety.

Also, @benjimarshall, what are your thoughts on Git LFS?

[2016-04-22 09:39] isaacrg opened #43 "Make mel and ma normal plain text"
Re: #40

[2016-04-22 09:39] ir-g commented on #40
Will do.

[2016-04-22 09:40] ChilliByte commented on #43
beat you to it ;)

[2016-04-22 09:40] #43 closed

[2016-04-22 09:40] ir-g commented on #43
Never mind, @chillibyte sorted it.

[2016-04-22 09:45] ChilliByte opened #44 "Easter Eggs"
Add Easter Eggs to the code in comments if you want

[2016-04-22 09:50] ir-g commented on #44
Also, maybe konami code could trigger a page which has wilko in various political campaign posters?

[2016-04-22 09:54] ir-g commented on #44
@ChilliByte This could incorporate the old hope poster

[2016-04-22 09:57] ir-g commented on #30
Do we just need to put the images into the articles now?

[2016-04-22 13:04] ChilliByte commented on #30
@isaacrg Yes, except for 1 particularly annoying article

[2016-04-22 13:21] benjimarshall opened #45 "Rename terrible image names"
Rename terrible image names from Ciaran

[2016-04-22 15:43] ir-g commented on #45
@benjimarshall  Loving the commit messages :)

[2016-04-22 16:05] benjimarshall commented on #38
I will, and I will be moving to `assets/edition-1/` when it's all calmed down.

Git LFS seems to be best suited for unthinkably large files, think textures, `.psd` files, chunks of audio. It isn't particularly necessary for small 500 KB images, and can be a bit of faff

[2016-04-22 16:06] benjimarshall opened #46 "Rename image folder"
Rename `assets/Edition 1/` to `assets/edition-1/` when all the articles are sorted.

[2016-04-22 16:08] benjimarshall commented on #45
Thanks, I'm trying to combat the boredom...

[2016-04-22 16:58] benjimarshall opened #47 "Image layout of Meet the Producers Article"
I don't know how [this](http://backchat.kefw.org/arts/2016/04/21/meet-the-producers.html) looks, can I have a second thought? More images? Less?

[2016-04-22 17:14] benjimarshall opened #48 "Any ideas?"
This is the Golden Globes fashion article, and all of the images are essentially, and it looks terrible. Any ideas?

[this](http://backchat.kefw.org/arts/2016/04/21/the-golden-globes.html) (whoops sorry for the local host)

[2016-04-22 17:16] benjimarshall commented on #48
Also, @ChilliByte can you do any date magic if needed on this file?

[2016-04-22 17:23] ir-g commented on #38
Good to hear, I am always ready to help where possible.

Yeah, I thought that might be the case when I first saw LFS some months
back - Git is honestly not the greatest for assets, etc but makes sense in
this situation. Also, how big is the image folder in size roughly?

On Fri, 22 Apr 2016 17:06 Benji Marshall, notifications@github.com wrote:

[2016-04-22 17:29] ir-g commented on #48
Hmm. On mobile the images are far smaller and the article doesn't look bad,
but the images start going far below the matching text.

On Fri, 22 Apr 2016 18:16 Benji Marshall, notifications@github.com wrote:

[2016-04-22 17:50] benjimarshall commented on #48
Yeah that's the problem in all sizes

[2016-04-22 17:51] benjimarshall commented on #38
@isaacrg 32.2 MB for 88 images, about 350 KB per image on average

[2016-04-22 18:11] ir-g commented on #48
A table might solve that...

On Fri, 22 Apr 2016, 18:50 Benji Marshall, notifications@github.com wrote:

[2016-04-22 18:12] benjimarshall commented on #48
@isaacrg Have a play, and we can revert it if you break anything

[2016-04-22 18:32] ChilliByte commented on #48
a local host link. really.

[2016-04-22 18:35] ChilliByte commented on #48
@benjimarshall use the "description" feature of the image embedding. this is sort of what it was designed for

[2016-04-22 18:35] ChilliByte commented on #48
@isaacrg NO NO TABLES

[2016-04-22 18:37] ChilliByte commented on #47
move the first image to just after "I'm kane" line

[2016-04-22 19:03] ir-g commented on #48
1. A real link http://backchat.kefw.org/arts/2016/04/21/the-golden-globes.html
2. +1 for descriptions, though idk how that would turn out.
3.  I know, I know. We really need an image gallery doodah...

[2016-04-22 19:15] ChilliByte commented on #48
can we have more than 1 image.html? so we can have full width image?

[2016-04-22 19:16] ir-g commented on #48
Sure

On Fri, 22 Apr 2016, 20:15 Deep Sohelia, notifications@github.com wrote:

[2016-04-22 19:19] ir-g commented on #38
OK, cool. We won't hit a gig anytime soon then, so we should be good.

On Fri, 22 Apr 2016, 18:51 Benji Marshall, notifications@github.com wrote:

[2016-04-23 12:10] ir-g commented on #46
I have created a copy of `assets/Edition 1/` at `assets/edition-1/`, so that article images can be moved over gradually.

[2016-04-23 13:56] ChilliByte commented on #46
@isaacrg can we make all references to `assets/Edition 1/` automagically go over to `assets/edition-1/` so we dont have to go through every article?

[2016-04-23 13:58] ChilliByte commented on #45
are these done?

[2016-04-23 14:08] #47 closed

[2016-04-23 14:10] ir-g commented on #46
Sadly, no.

[2016-04-23 14:23] ChilliByte opened #49 "change all image urls"

[2016-04-23 14:45] isaacrg opened #50 "/format.html filename fix"
For the /format.html generator, the file name generator needs to:

- [ ] Block repeated dashes (ie: `2016-04-21-my-sport--ravi-gurung.md` becomes `2016-04-21-my-sport-ravi-gurung.md`
- [x] Only contain the characters a-z, 0-9, dashes and one dot(for .md, ofc)
- [x] Make all output lowercase.

[2016-04-23 14:49] ir-g commented on #49
~~Find posts listed [here](https://github.com/Kefwmag/kefwmag.github.io/search?utf8=%E2%9C%93&q=+%22%2Fassets%2FEdition+1%2F%22&type=Code).~~ Ignore that.

[2016-04-23 15:06] isaacrg opened #51 "Date Styling"
Dates are styled like: `Apr 21, 2016`(American), as opposed to `21 Apr, 2016`(British). This needs to be sorted for category layout, home page layout, and post layout.

[2016-04-23 15:35] ir-g commented on #51
Sorted.

[2016-04-23 15:35] #51 closed

[2016-04-23 17:43] benjimarshall commented on #45
@ChilliByte Not yet. I still need to do the Oscars article then I'll delete the superfluous images

[2016-04-23 22:51] ChilliByte commented on #50
the last two make sense, but i dont understand the need for the first

[2016-04-23 22:56] ChilliByte commented on #48
@benjimarshall has there been any more work on this?

[2016-04-23 22:58] ChilliByte commented on #44
I think the easter eggs should be unobtrusive seeing as its not for us, if you will. Code comments dont really effect page load times, whereas the konami code will, and extra pages etc will make build times bigger, no?

[2016-04-23 23:15] ChilliByte opened #52 "CSS Clean up"
The css I wrote was a bit sort of "chuck this rule in, see what happens". I need to structure, comment, and clean up my code, as well as split it up into multiple files.

- [x] Comment Stylesheets
- [x] Move to `/css/`
- [x] Split into relevant files (themes, mobiles, desktop, tablet etc)
- [x] Order correctly
- [x] Check for, and if necessary, remove redundant lines

Isaac, Benji, Matt, you dont

[2016-04-23 23:57] ChilliByte commented on #52
@isaacrg @benjimarshall Better? Did I break anything?

[2016-04-23 23:58] ChilliByte opened #53 "Menu breaks when Viewport width is exactly 650px"
649px gives mobile view
651px gives desktop.

650 gives... both?

[2016-04-24 00:05] ChilliByte commented on #53
that did it

Note for anyone who cares: dont overlap your media queries.
If you have a max-width:x
and a min-width: x,
there will be bugs at x.
make it min-width: x+1.

[2016-04-24 00:05] #53 closed

[2016-04-24 00:05] #52 closed

[2016-04-24 00:11] ChilliByte commented on #50
eh whatever its 1 am fuck it, next commit

[2016-04-24 00:11] #50 closed

[2016-04-24 00:17] ChilliByte opened #54 "Does _config.yml need updating?"
_config.yml has email and url fields. do these need updating?

[2016-04-24 08:15] benjimarshall commented on #48
@ChilliByte Not yet. The current image include is found [here](https://github.com/Kefwmag/kefwmag.github.io/blob/master/_includes/image.html). I could make a second, similar file but with a CSS class attribute to the `<img>` tag if that would help?

[2016-04-24 08:20] benjimarshall commented on #54
Email: At the moment, no, because we are not using it. We could use it in the site, I'll have a look at some point.

URL: YES THIS IS RIGHT DON'T TOUCH IT OR IT'LL BREAK

[2016-04-24 08:26] ChilliByte commented on #48
I could do that too its just I dont know how else to show the images, i dont know what else would look good

[2016-04-24 11:03] ir-g commented on #44
Build times shouldn't be a large concern(even with tons of posts, the site should continue to build in under half a second), but obviously konami code requires JS usage, which obviously increases page load times.

[2016-04-24 13:15] ir-g commented on #54
@benjimarshall @ChilliByte The email value is one that isn't a pre-defined variable - ie. This one has no pre-assigned purpose, so we can do as we like with it. - I'd recommend hooking it up to the formspree forms, and anywhere else we mention the email address.

But **do** update the email value on the `_config.yml` first, ofc.

[2016-04-24 13:26] ir-g commented on #50
@ChilliByte The first one is just a logical measure for good urls, and because otherwise I'll obsess over renaming them later.

[2016-04-24 13:28] ir-g commented on #45
@benjimarshall For the sake of archival purposes I wouldn't recommend deleting any of the images.

[2016-04-24 15:23] ChilliByte commented on #44
I've put a few little jokes in my css code, though I'll add more as time goes by

[2016-04-24 15:24] ChilliByte commented on #50
@isaacrg Can you give it a test? I've written the regex myself for the first time and I dont trust it.

(Well I've written regext before but that was just matching one character and its piss, this is more complex)

[2016-04-25 06:38] ir-g commented on #50
All seems to work well as expected, though I think maybe we should require the user to pick a date

[2016-04-25 08:15] benjimarshall opened #55 "Unbreak the site"
Nearer release time, move index2 over to index

[2016-04-25 08:16] benjimarshall commented on #49
Done

[2016-04-25 08:16] #49 closed

[2016-04-25 08:16] benjimarshall commented on #46
Done

[2016-04-25 08:16] #46 closed

[2016-04-25 08:58] ir-g commented on #52
@ChilliByte Things look good, still seem to be working. :smiley:

[2016-04-25 09:32] ir-g commented on #54
We no longer need this issue. The config is all good, it seems.

[2016-04-25 09:34] #54 closed

[2016-04-25 11:28] ChilliByte opened #56 "Add new image.html"
Add new image.html for image galleries

- [x] Add new include
- [x] Add CSS for new include
- [x] Add new include to `/format.html`

[2016-04-25 11:42] ChilliByte commented on #56
Added a demo to foreword, see commit de0aa3b

[2016-04-26 10:51] benjimarshall commented on #48
Seems done now

[2016-04-26 10:51] #48 closed

[2016-04-26 10:51] benjimarshall commented on #30
Finally done

[2016-04-26 10:51] #30 closed

[2016-04-28 09:28] ir-g commented on #55
@benjimarshall Just so that no mess-ups occur, can the site be unbroken at ~15:00 or ~16:00 today?

[2016-04-28 09:35] ir-g commented on #45
@benjimarshall What is the status of this?

[2016-04-28 09:37] ir-g commented on #56
@ChilliByte Looks good! Once on the formatter, we can adopt this as needed.

[2016-04-28 10:17] ChilliByte commented on #55
@isaacrg why is this needed? its just renaming a file

[2016-04-28 12:56] benjimarshall commented on #45
I'm going to move the redundant images over to a folder for them, and then we'll be done

[2016-04-28 16:19] ir-g commented on #55
@ChilliByte I know, but sometimes Github page builds don't go through for some time - international cache servers sometimes take while to be updated.

[2016-04-28 16:24] ir-g commented on #45
Awesome - If the folder was `/assets/edition-1/redundant`, or similar that would probably be best. This isnt directly linked to the official release, so I'll move it off that milestone.

[2016-04-28 17:16] #55 closed

[2016-04-29 12:39] ChilliByte commented on #55
ah, i understand

[2016-04-29 13:25] ChilliByte opened #57 "custom 404"
Google links are broken, custom 404 added to redirect, make this pretty

[2016-04-29 16:38] ChilliByte commented on #57
@isaacrg what do you think of the 404?

[2016-04-29 16:43] ChilliByte opened #58 "Filter By Author?"
Is it possible to get Jekyll to generate pages for each author with their own articles on?

[2016-04-29 17:21] ChilliByte opened #59 "Stars?"
The posts are much more popular on facebook than I thought they would be, and it feels like some form of "starring" system is necessary

Obviously given this is a static site this is a "could" rather than a "should" do hippo

If implemented, all it would need to do is count how many times that button has been clicked (one per pc) (yes this can be abused, no it probably wont, yes thats a bad way of

[2016-04-29 17:22] ChilliByte commented on #59
@isaacrg

[2016-04-29 17:45] ChilliByte opened #60 "Search Feature"
God knows how to implement this.

Fuck off about adding it to the layout theres no space you bellends

People want it though - Can google do it easily?

[2016-04-29 17:51] benjimarshall commented on #58
Definitely possible. I'll look into this tomorrow

[2016-04-29 17:52] benjimarshall commented on #60
Client side search at here: http://jekyll.tips/tutorials/search/

[2016-04-29 17:53] benjimarshall commented on #60
@ChilliByte If you give me a UI, I'll write the searchy bit. Probably something along the lines of the current post displaying system, but with a search box at the top, perhaps where the category title currently is

[2016-04-29 17:56] benjimarshall commented on #60
@ChilliByte And for goodness sake don't do anything unless you know it works. We now have regular visitors and we don't want to scare them off

[2016-04-29 17:57] benjimarshall commented on #59
I'm going to lean towards shelving this one. We really need a server side implementation for this to work, and it will either be abused or look weird when not used

[2016-04-29 18:29] ChilliByte commented on #60
If you show me how to pull, edit **_VIEW**_ and push, I can start writing

I'm not adding huge UI changes on a live site with viewers

As for where the search box'll go, I'll think about it.

[2016-04-29 18:35] ChilliByte commented on #59
I agree with the whole "Server side, fuck off"

But I feel a way of allowing users to interact with posts in some form is necessary

[2016-04-29 18:38] ChilliByte commented on #58
ty

[2016-04-29 18:55] ChilliByte commented on #58
While @benjimarshall is away I've looked around, this is v. easy to do with a custom "author.html" for each author, then just use liquid fors and conditionals to build their page.

This is definetely the easiest way to go.
Is it the most sustainable?
Is it the most elegant?

[2016-04-29 19:15] ChilliByte opened #61 "Standardise/Standardize names"
(See what I did there?)

Sometimes, names are just "Ciaran Hanvey"
At other times, they're "Ciaran Hanvey, Editor in Chief"

Make them all the latter.

[2016-04-29 19:26] ChilliByte commented on #58
http://backchat.kefw.org/author/ciaran-hanvey/
I DID EET

This system requires a seperate index.html per author (only 5 lines of front matter to be fair, no html)

[2016-04-29 20:06] ir-g commented on #57
Cunning! When Google updates its own search results in a few weeks, we can then get sorting the 404s out properly. I might style it like the wilko site...

[2016-04-29 20:10] ir-g commented on #61
Maybe de-title them all, as I suggested, back in #34 (omg almost saw this coming or something). We could have shortcide for each author and then use Jekyll collections to create different pages for each author...

[2016-04-29 20:12] ir-g commented on #58
Use Jekyll collections for this. I'll help out, but that is exactly what should be used.

[2016-04-29 20:13] ir-g commented on #58
Re: #61

[2016-04-29 20:17] ir-g commented on #60
Firstly, think about what viewers do and don't want. Search is useful, but not vital. Secondly, don't forget that I have used Jekyll a lot - I often know shortcuts with things like this, and know limitations. Client-side search makes sense when you don't have more than 100 posts/pages.

[2016-04-29 20:18] ir-g commented on #60
How many posts do we have now out of interest?

[2016-04-29 20:20] ir-g commented on #59
@benjimarshall Server-side doesn't mean immediate shelving, plus I have an idea. I'll post here in a moment...

[2016-04-29 20:22] ChilliByte commented on #61
@isaacrg I think we have a good (well ok) (fine barely working) system for the authors, if we just make all the author names pretty it'll be okay

[2016-04-29 20:24] ChilliByte commented on #58
@isaacrg are jekyll collections what is used for the categories? bc I've essentially used the same code for the categories that i have for the author (legit just changed `{{page.category}}` to `{{page.author}}`

[2016-04-29 21:01] ir-g commented on #59
So - stars are a nice idea, but we need to run servers of some kind or shamelessly exploit formspree somehow. I'm interested in both out of curiosity, but this might be little used — we can always trial it.

To measure social media impact, listnr is an experiment - I am currently testing it on the site, to see what results come of it.

Measure mentions at: https://vrypan-webmentions.appspot.com/ap

[2016-04-29 21:03] ir-g commented on #59
Also, we ought to keep an eye on Google analytics - an undeniably useful tool for understanding our audience.

[2016-04-29 21:10] ChilliByte commented on #59
how does it work, @isaacrg

[2016-04-29 21:21] benjimarshall commented on #60
@isaacrg 30. I understand the search feature, all I need is a place to put it and a box for it

[2016-04-29 21:25] benjimarshall commented on #61
I agree with stripping them of their titles. It will just make it so much easier

[2016-04-29 21:35] benjimarshall opened #62 "Make the byline link to the author's page"
Make the byline saying "By [Author name]..." link to their page of articles written by them

[2016-04-30 07:10] ir-g commented on #59
Look at the bottom of https://blog.vrypan.net/2016/03/31/simple-encrypted-chat-with-keybase-fs/

[2016-04-30 08:33] ChilliByte commented on #59
it just goes completely over my head, i'll leave you to it

i was thinking more along the lines of redis

[2016-04-30 08:34] ChilliByte commented on #60
i dont think search is necessary right now, as google seems to be able to find posts

[2016-04-30 11:25] ir-g commented on #60
Absolutely - I agree

On Sat, 30 Apr 2016, 09:34 Deep Sohelia, notifications@github.com wrote:

[2016-04-30 11:26] ir-g commented on #59
Hmm, that might make sense. We could just leave stars by the wayside until
we have an idea of our viewership.

On Sat, 30 Apr 2016, 09:33 Deep Sohelia, notifications@github.com wrote:

[2016-04-30 11:30] ir-g commented on #58
Not quite, but it isn't dissimilar

On Fri, 29 Apr 2016, 21:24 Deep Sohelia, notifications@github.com wrote:

[2016-04-30 14:40] ChilliByte commented on #59
I have a method that will work.

[2016-04-30 14:42] ChilliByte commented on #59
I have set up an always on PHP server using 000webhost.

I have a "Stars.php" script running:
`<?php`
 `$filename = $_GET['filename']; // incoming message`
  `if(file_exists($filename)) {`
  `$filedata = intval(file_get_contents($filename));`
 `} else {`
 `$filedata = 0;`
 `}`
  `$starcount = $filedata + 1;`
 `file_put_contents($filename,$starcount+"")`
`?>`
`<h1>Close Me.</h1>`
`
All you do to in

[2016-04-30 14:49] ChilliByte commented on #59
then all you need is cookies storing which articles have had their stars clicked from that pc

[2016-04-30 15:07] ChilliByte commented on #59
ok theres a little issue with the Same-Origin Policy but I've got a workaround.

[2016-04-30 15:51] ChilliByte commented on #59
http://backchat.kefw.org/benjispost/
demo

[2016-04-30 16:12] ChilliByte commented on #59
re-written to avoid opening windows - though now you need adblock off

[2016-04-30 16:29] ChilliByte commented on #59
okay while this is very cool i feel this solution will either look shit or be too bodged to be scalable. Unless @isaacrg has a nice, non dodgy solution I'm going to delete my demos and close this issue on monday at some point.

[2016-04-30 16:30] ChilliByte commented on #58
@isaacrg What should I be doing then, because a page per author doesnt seem sustainable

[2016-04-30 21:46] ir-g commented on #59
I love the ease of use and appearance of this, but safe code & a trusted
host would be needed for the longer term.  I can happily help improve
things, though we will need to look at feature usage...

On Sat, 30 Apr 2016 17:29 Deep Sohelia, notifications@github.com wrote:

[2016-05-01 12:21] ir-g commented on #58
A page per author might be reasonable...

[2016-05-02 14:05] #58 closed

[2016-05-02 14:07] ChilliByte opened #63 "Set up author websites (beta implementation)"
Set up author pages for:

- [x] Livvy (Teal)
- [x] Shannon (#330033)
- [x] Kane (Hot Pink)
- [x] Griffo ("Juicy Orange") Apparently

[2016-05-02 14:12] ChilliByte commented on #61
@benjimarshall if I set up all the author sites, can you standardise their names?

[2016-05-02 14:13] ChilliByte commented on #61
I dont see the difference De-Titling makes, if anything it makes it harder as you have to store which people have what job but I'm the minority here, go ahead

[2016-05-02 14:15] ir-g commented on #61
_alert_ I'm working on an author system right now - This will support neater auto-generation of author pages and names.

[2016-05-02 14:16] ir-g commented on #63
@ChilliByte I'm working on an author page system right now - So you might want to hold off for now..

[2016-05-02 14:17] ir-g commented on #61
Also, the de-titling takes into account that people wont permanently hold their roles...

[2016-05-02 14:20] ChilliByte commented on #63
@isaacrg Will it break the current one? seeing as currently its only ~10 lines of code per author, and people want to see results. Will it be okay if I set them up on the current system, then we silently port it over to yours if yours works well?

[2016-05-02 14:46] ir-g commented on #63
@ChilliByte It shouldnt break the current one,  though it would help if you could change the layout to be called `deepauthor` or something similar.

[2016-05-02 14:51] ChilliByte commented on #63
okay

[2016-05-02 16:35] ChilliByte commented on #63
@isaacrg done, how is your thing going?

[2016-05-02 16:52] ChilliByte commented on #61
All Detitled (unless I've missed one)

[2016-05-02 16:52] #61 closed

[2016-05-02 16:53] ChilliByte opened #64 "Add title to foreword"

[2016-05-02 16:59] ChilliByte commented on #64
@isaacrg @benjimarshall I added a "foreword" category to `_config.yml` and to the foreword post - can you do your magical jekyll serve thingy to get it going?

[2016-05-02 17:01] ChilliByte commented on #59
files will be moved to /temp/stars in case @isaacrg needs them

[2016-05-02 17:03] #59 closed

[2016-05-02 17:04] #60 closed

[2016-05-02 17:19] #56 closed

[2016-05-02 17:20] ChilliByte opened #65 "remove all section border bottoms"
@isaacrg removed this feature long ago, the border code is still there

Remove it.

[2016-05-02 17:34] #65 closed

[2016-05-02 17:35] ChilliByte commented on #64
config.yml reverted, page.title used.

[2016-05-02 17:35] #64 closed

[2016-05-02 17:46] ChilliByte commented on #57
See #44
easter eggs such as "Ling live" will be added to the 404

[2016-05-02 17:48] ChilliByte commented on #44
most of these will be in #57

[2016-05-02 17:49] ChilliByte commented on #45
Is this done?

[2016-05-02 18:01] ChilliByte commented on #62
Uncomment once all sites have been added

[2016-05-02 18:58] ir-g commented on #63
@ChilliByte Ok - I have a good idea of how things will be organised, but am going to spend more time on it, in light of you having something that will work for now. The eventual plan is for something that will even work with the formatter for selecting the author.

[2016-05-02 19:40] ChilliByte commented on #63
Should we split this into 2 issues? 1 for this current get-it-done-asap implementation, and another for the long-term-stable edition?

[2016-05-02 19:53] ir-g commented on #63
Yes, that sounds like a good idea.

[2016-05-02 19:54] ChilliByte opened #66 "Set up a more sustainable author page system"

[2016-05-03 07:58] ChilliByte opened #67 "Add new article marker"

[2016-05-03 10:40] isaacrg opened #68 "Add edition value to each post"
Should we add an edition variable to the front matter of all of the posts, so we can generate individual edition pages at a later date?

[2016-05-03 10:43] ChilliByte commented on #68
This is a very good idea, and should be coupled with #67
ALSO DIBS NEXT ISSUE

[2016-05-03 10:43] ChilliByte opened #69 "69 ISSUES LOLOLOLOLOLOLOLOLOLOLOLOLOLOL"
IM A MATURE SENSIBLE ADULT

[2016-05-03 10:45] isaacrg opened #70 "Sort out custom css"
We are fetching multiple CSS files. For smaller css files we should consider directly adding them via includes into the head of the documents.

[2016-05-03 10:46] #69 closed

[2016-05-03 10:47] benjimarshall commented on #69
Deep's maturity is the bug

[2016-05-03 10:47] ChilliByte commented on #70
Yes I was considering using YAML front matter to generate custom CSS

[2016-05-03 10:48] ChilliByte commented on #69
My immaturity is an enhancement not a bug

[2016-05-03 10:52] ir-g commented on #69
_sighs_ :disappointed:

[2016-05-03 10:55] ir-g commented on #70
@ChilliByte Yeah - Im hoping to make authors, editions and categories have their own custom css declared in some their own file, as well as generating shortcodes for authors, and upgrading the formatter to allow us to do bulk page generation, and allowing automatic adding to github.

[2016-05-03 10:56] ir-g commented on #67
@ChilliByte What do you mean by this?

[2016-05-03 11:13] ChilliByte commented on #67
Pav suggested adding a small bit of text saying "NEW" to articles that are part of the most recent edition

This would be green, in Raleway, just to the left of the "Read More" in the small article preview

[2016-05-03 11:14] ChilliByte commented on #70
I was with you until "bulk page generation, and allowing automatic adding to github."

[2016-05-03 11:53] ir-g commented on #67
@ChilliByte Thats sounds good. How about linking it to the date of publication somehow?
ie. It starts fading away after 7 days and disappears after 14 days?

[2016-05-03 11:55] ir-g commented on #70
@ChilliByte Erm. My english went downhill from there to be honest - You can ignore that bit.

Eventually I'll add a feature to the formatter where you can login and upload posts _from_ the formatter.

[2016-05-03 13:17] ChilliByte commented on #67
Thats exactly what I was thinking - if it was released <1 month ago, show, else hide

[2016-05-03 13:20] ChilliByte commented on #70
WHOA WHAT
ON A STATIC SITE
HOW

[2016-05-03 13:30] ir-g commented on #70
Github API magic ;)

[2016-05-03 14:53] #67 closed

[2016-05-03 15:06] ChilliByte commented on #68
Can this not be done with a simple lookup table of when each edition was released?

[2016-05-03 16:27] ir-g commented on #68
@ChilliByte I guess, but it would be less reliable, and less useful when taking into account the fact that in the future, article publication could be staggered.

[2016-05-04 17:15] benjimarshall commented on #68
I'll write a tiny python script to do this. Shouldn't take long

[2016-05-04 21:04] ir-g commented on #68
Awesome, use `edition: 1` in the post metadata.

[2016-05-04 21:07] benjimarshall commented on #68
@isaacrg I was torn between using a tag and a completely custom field such as `edition` Should I use `edition` then?

[2016-05-04 22:38] ChilliByte opened #71 "Fix Mobile Menu"
On very narrow screens (VW < 348px) The current menu switches to single column, broken view.

I was unaware of screens this teeny, but they do exist.

Make a new mobile menu for these sizes.

[2016-05-04 23:02] #71 closed

[2016-05-05 05:30] ir-g commented on #68
Use `edition`, as we then get to run numerical comparisons more easily.

[2016-05-05 07:39] #68 closed

[2016-05-06 10:17] isaacrg opened #72 "HTML Validation"
[Travis](https://travis-ci.org/Kefwmag/kefwmag.github.io/) is throwing some interesting HTML validation errors. If we are to persist with using `htmlproofer` for testing, then we need to see what we can do.

FYI - For easily understandable validation, look at the [W3 Validator](https://validator.w3.org/nu/?doc=http%3A%2F%2Fbackchat.kefw.org%2Fama%2F2016%2F04%2F21%2Ffighting-with-parents%2Findex.ht

[2016-05-06 10:36] isaacrg opened #73 "Email newsletter?"
I might be sounding a little ancient, but would delivering an email when a load of new articles have been released be something worth considering?

[2016-05-06 10:36] ir-g commented on #73
This could also be hooked up to Twitter, and maybe even a Facebook page

[2016-05-06 19:31] ChilliByte commented on #73
This is something Ciaran (editor in chief) wanted, and we'll be getting an email list.

ON PAPER

as for how to do this - I have no clue

[2016-05-06 19:42] ir-g commented on #73
Meet feedburner -> http://feeds.feedburner.com/kefw/backchat-posts

It turns xml feeds into instant mailing lists, amongst other things. I think it might be nice if we offered this service eventually for each edition, so people get notified when a new edition is out...

Thoughts @ChilliByte @benjimarshall

[2016-05-07 07:14] isaacrg opened #74 "Use title option requires custom theme"
Use standard Android HTML notification theme, when a custom theme option isn't supplied in the yaml fornt matter.

[2016-05-07 09:23] ChilliByte commented on #73
I think its great!

[2016-05-07 09:23] ChilliByte commented on #74
Is this a bug or an enhancement?

[2016-05-07 09:38] ChilliByte opened #75 "EITHER Encode all & as &amp; or get Travis to ignore them."
Travis shows about 72 identical errors, all pointing to this line:

`<li><a href="/arts/">Arts & Entertainment</a></li>`

or the "Mel & Ma" line.

The reason its throwing an error is because & is a special character in HTML, used for special entities - untypeable characters, for example the less that sign, &lt;, which is encoded as `&lt;`

Normally just using & in text is more than fine people won

[2016-05-07 09:40] ChilliByte commented on #75
I'm leaning towards encode, seeing as we'd have to go through all the posts too and thats effort

[2016-05-07 09:40] benjimarshall commented on #73
Sounds good

[2016-05-07 09:42] benjimarshall commented on #75
Well, `html-proofer` is moaning about them for a reason, so I would recommend fixing it if we can

[2016-05-07 09:45] ChilliByte commented on #75
right okay, @benjimarshall can you maybe write some python to do the posts, while I sort out the other 2?

[2016-05-07 09:48] benjimarshall commented on #75
@ChilliByte Where are the bits that need changing?

[2016-05-07 09:49] ChilliByte commented on #75
@benjimarshall never mind, encoding the 2 that i mentioned at the start removed the other encoding errors, now we just have 2.

[2016-05-07 09:50] ChilliByte commented on #75
Fixed as of last commit

[2016-05-07 09:50] #75 closed

[2016-05-07 09:57] ChilliByte commented on #72
Combined with #75, we've eradicated the errors.

They were, in order of frequency
- Unencoded & - now encoded
- Empty alt tags - now either contain {{include.description}} or " "
- 404 for @hexaglow's link - Changed to matt's twitter
- 404 for Sef's souncloud - Removed as he changes his soundcloud username more than he changes underwear

[2016-05-07 09:57] #72 closed

[2016-05-07 10:00] ChilliByte commented on #66
@isaacrg Progress?

[2016-05-07 10:00] #44 closed

[2016-05-07 10:01] ChilliByte commented on #45
how about now?

[2016-05-07 10:01] benjimarshall commented on #72
@ChilliByte For the `<alt>` tags we actually use the `--empty-alt-ignore` flag with `html-proofer`. `<alt>` tags aren't are not a major issue for us so I just disabled the checking. Some `<alt>` tags are actually empty, I removed the space at the end

[2016-05-07 10:02] benjimarshall commented on #45
Yup

[2016-05-07 10:02] #45 closed

[2016-05-07 10:21] ChilliByte commented on #72
the empty alt ignore returned 0 when i tried it, but okay

[2016-05-07 20:50] ir-g commented on #74
Bug

[2016-05-07 20:53] ir-g commented on #66
@chillibyte Coming along OK, hopefully releasing at some point tomorrow.

[2016-05-07 20:55] ir-g commented on #57
Should the 404 visually resemble the snazzy layout of a previous site that had to take down its content?

[2016-05-07 20:59] ChilliByte commented on #57
ling live said previous site

though we'd have to check if it fits and looks good rather than having it in there for the sake of it

[2016-05-07 21:01] ir-g commented on #57
Of course

On Sat, 7 May 2016 21:59 Deep Sohelia, notifications@github.com wrote:

[2016-05-08 13:00] isaacrg opened #76 "Eradicate explicit layout declarations"
Documents shouldn't declare layout names unless **absolutely necessary**.

[2016-05-08 13:00] #76 closed

[2016-05-08 13:07] isaacrg opened #77 "Modify feed to use only excerpts"
Submitting entire content is unwise

[2016-05-08 13:13] isaacrg opened #78 "Modify feed to use real urls, so as not break RSS readers"

[2016-05-08 13:14] #77 closed

[2016-05-08 13:14] #78 closed

[2016-05-08 13:22] #74 closed

[2016-05-08 13:23] #63 closed

[2016-05-08 16:56] isaacrg opened #79 "Add authors to new author system"

[2016-05-08 17:20] ir-g commented on #79
Use the `_authors` folder. Use Five Ways user ids(lowercase), so that we have a simple format.

[2016-05-08 17:21] ir-g commented on #66
While authors still need adding(#79), the listing system works. See http://backchat.kefw.org/authors/hanveyc/ for example. Additionally, authors are now given as arrays - eventually authors will be listed by name and linked as needed.

[2016-05-08 17:28] isaacrg opened #80 "Sort out byline, make include."
For #62, #66.

[2016-05-08 18:09] ChilliByte commented on #80
the byline code is more or less in place, it needs a little modifying, as the old urls were firstname-surname while your system is surnamefirstinitial but aside from that its ok

[2016-05-08 18:10] ChilliByte commented on #79
i think griffithsj looks a little weird

james-griffiths is the old system
though personally i think a mix is better: jgriffiths
however then we have more chance of collisions

[2016-05-08 18:16] ChilliByte commented on #70
@isaacrg how does the custom css work now

[2016-05-08 19:52] ir-g commented on #70
@chillibyte For now, it works like usual. I'm not sure of a way of approaching custom CSS properly.

[2016-05-08 20:39] ir-g commented on #79
Try to keep in mind that if this is to stay in existence for the longer term, we need some thing that will work for a long time, without much technical modification. It isn't a pleasant system, but it _is_ safe and predictable.

[2016-05-08 21:09] ChilliByte commented on #79
fair enough, though can this one stylistic feature not be added easily?

[2016-05-08 21:10] ChilliByte commented on #70
the old stylesheets dont work with your new system - `header` and `section` dont have classes

[2016-05-08 22:03] ChilliByte commented on #66
can the authors not be auto generated from _posts?

[2016-05-08 22:03] ChilliByte commented on #66
also, what are the advantages/features of this new system, so we know how to use it properly - currently only you @isaacrg understand it (as is common when people write their own code I suppose XD)

[2016-05-09 08:47] ir-g commented on #66
@ChilliByte Author pages sadly cannot be auto generated from posts.

The use of `_authors`(a [Jekyll collection](https://jekyllrb.com/docs/collections/)) adds data to `site.authors`, meaning that the bylines are capable of accessing more data about authors, and (eventually)each post can just use author shortcodes for referring to authors, and the bylines will automatically list each author, link t

[2016-05-15 17:05] ir-g commented on #62
Sorted, now supports multiple authors.

[2016-05-15 17:06] ir-g commented on #79
@ChilliByte Made changes such that that one stylistic feature is now present.

See: http://backchat.kefw.org/authors/ciaran-hanvey/

[2016-05-15 17:07] ir-g commented on #79
Author data is now managed at `_data/authors.yml`

[2016-05-15 17:09] ir-g commented on #79
Author pages now generated at: `_authors`

[2016-05-15 21:33] #62 closed

[2016-05-16 10:48] ChilliByte opened #81 "Actually fix the goddamn mobile menu deep"
- [ ] Add media query for height
- [ ] Fix to 100% height
- [ ] Fix smallest menu top margin/padding
- [ ] find something for the really tiny screens - font size?

[2016-05-16 10:53] ir-g commented on #81
How about you don't have two columns in the mobile menu, but have a tightly-packed list? Also, the desktop menu is pretty horrible to use on [at least android] tablets, due to the rendering strategy in mobile/tablet browsers(laggy).

[2016-05-16 11:04] ir-g commented on #80
Closed, sorted, even uses pretty urls. Re: #62, 66.
_Did not use include, for operational reasons._

[2016-05-16 11:05] ChilliByte commented on #81
@isaacrg I do have a tight list, just for v. small devices.
And can you explain what you mean with the tablets?

[2016-05-16 11:20] ir-g commented on #66
Issue sorted. :smile:

[2016-05-16 11:20] #66 closed

[2016-05-16 11:20] #80 closed

[2016-05-16 11:26] ir-g commented on #81
Some tablets can't render the full menu due to their height, so the user has to scroll down, casuing ugly browser issues. Also, the pushing of the main content to the right actually expands the page size on tablet browsers, meaning you can zoom out to view the full page. Weird, right?

See video at: https://dl.dropboxusercontent.com/u/22743603/vlc-record-2016-05-16-12h22m14s-Chrome_20160516_115720

[2016-05-16 11:39] ir-g commented on #79
@ChilliByte I've noticed your modification to the list, and that has been duly noted. Leaving there for posterity and waiting til somebody notices.

[2016-05-16 12:31] isaacrg opened #82 "Author listings page"
A list of all authors.

[2016-05-16 19:07] ChilliByte commented on #81
what the fuck

[2016-05-16 20:21] isaacrg commented on #81
...

[2016-05-17 13:26] ChilliByte opened #83 "Auto Generating Authors"
Is it possible to use a service such as Heroku to check for new authors and push them to _authors each commit? The current system, like most of this site I fear will fall apart as soon as we leave.

[2016-05-17 14:16] ir-g commented on #83
@ChilliByte I'll have a look, I agree that this current setup isn't suited for a long-lived site. (That we can pass on)

[2016-05-17 14:17] ir-g commented on #83
In theory, we could...

[2016-05-20 10:54] isaacrg opened #84 "Get rid of background badge?"
@benjimarshall @ChilliByte

Should we get rid of the background badge, as it is mainly covered most of the time, or at least re-locate it?

[2016-05-23 08:18] ChilliByte commented on #84
I like it where it is - its easily viewable on desktops

May consider adding a media query for mobiles to remove, though

[2016-05-23 08:19] ir-g commented on #84
Fair enough, that sounds reasonable.

[2016-05-23 08:21] ChilliByte commented on #84
Merging with #81 for a total overhaul of mobile/tablet views

[2016-05-23 08:21] #84 closed

[2016-05-23 08:30] ChilliByte opened #85 "Paginate?"
When the new issue is released, we will need to consider what we are going to do with pagination - this issue is just for discussion, nothing needs to be done yet.

http://www.strawpoll.me/10288537

[2016-05-23 08:31] ChilliByte commented on #83
@isaacrg How would it be done?

[2016-05-23 10:36] ir-g commented on #85
I have an idea - How about we show the 50 most recent posts on the home page, and then have a separate "all posts" page that lists every post in existence, that is linked to at the bottom of the home page. This would be of little technical difficulty to introduce. Also, we have edition pages already in place, though we don't currently don't link to them or care about them.

[2016-05-23 11:04] ir-g commented on #83
Well, I guess we could even write a script that runs in Travis CI, which in turn updates the `_authors` folder...

[2016-05-23 11:58] ChilliByte commented on #83
can this be implemented once we have a completed site? i know its not the nicest solution but it'll fall to bits oterwise

[2016-05-23 12:04] ir-g commented on #83
I'll give it a shot in the future

[2016-05-24 14:12] svinjko commented on #85
I think deep is a melon

[2016-06-03 09:17] ChilliByte opened #86 "Add an about me section"
Each author page should have an about me section

[2016-06-04 18:06] ChilliByte opened #87 "Dropbox to Github?"
https://github.com/anishathalye/git-remote-dropbox

Can something like this (I've spent all of 30 seconds googling this, shoot me down as necessary) to push .md files to github?

[2016-06-04 19:23] ir-g commented on #87
If we had an ongoing script automatically transferring that git repo to github, then maybe, but we would still have git commit, etc to a dropbox-hosted server.

If it hadn't shut down, I'd have recommended [scriptogr.am](http://scriptogr.am/), which was like Jekyll combined with Dropbox, but since then the only thing I've spotted vaguely like it is [CloudCanno](http://cloudcannon.com/), but that s

[2016-06-05 11:20] ChilliByte commented on #87
how would it work with heroku?

[2016-06-05 13:31] ir-g commented on #87
This -> https://www.jamesward.com/2014/09/24/jekyll-on-heroku

_Tl;dr: Add some scripts to the Repo, etc. Then auto-works. I would massively recommend github over anything else tho. I would recommend sticking with Github and github pages for now, though I understand in the longer term, we are going to need to find/make a user-friendly platform for writers._

[2016-06-06 09:03] ChilliByte opened #88 "Add a backup font"
Sometimes, Google can be slow to load Raleway - we need to add a back up font that looks similar and is web safe

Helvetica?

[2016-06-06 09:16] ir-g commented on #88
Yeah - helvetica looks decent

[2016-06-06 09:20] ChilliByte commented on #85
or we could have it infinitely scrolling?

Either dynamically load more posts when near the bottom of the screen
or have a load more button

[2016-06-06 09:25] ir-g commented on #85
A link at the bottom of the home page to a page that lists every article acts like a "load more" button, but allows us to avoid using Javascript.

[2016-06-06 09:27] ChilliByte commented on #85
but that would limit us to either a few articles, or all of them. in say 5-10 editions tme, we'll either show 20 articles or 150 or something silly

[2016-06-06 09:36] ir-g commented on #85
Hmm. Realistically we need to consider moving to a better CMS so we can do this stuff automatically.

[2016-06-06 12:05] isaacrg opened #89 "Post previews scroll"
Some post previews scroll (like "struggles with sadness")

[2016-06-06 23:52] ChilliByte commented on #89
i cant seem to replicate this issue - on what device was this?

[2016-06-07 00:00] ChilliByte commented on #89
all articles have this code:

[code]

they are literally told not to scroll, so this is very weird

[2016-06-07 02:52] #88 closed

[2016-06-07 02:58] ChilliByte opened #90 "Clean up main template"
we have unnecessary stuff from past features

listnr and fontawesome were the first two I saw

we should trawl through and remove all non essentials

[2016-06-07 03:04] ChilliByte commented on #89
ok this scrolling bug happens on desktop when scrolling diagonally - that is, both axes simultaneously

[2016-06-07 03:05] ChilliByte commented on #89
misclick - this will be fixed when another issue is fixed - will create then reference

[2016-06-07 03:08] ChilliByte opened #91 "Fix cropping of previews"
The cropping system was implemented with posts of a fixed height a while ago, they were simply set to crop at 180px tall. Now we have varying preview sizes and multilne headings and bylines a new way of cropping must be found - this should fix our scrolling issue too - #89

[2016-06-07 03:19] ChilliByte commented on #91
fixed

[2016-06-07 03:19] #91 closed

[2016-06-07 03:19] #89 closed

[2016-06-07 03:29] ChilliByte opened #92 "Create custom author template"
authors want a custom page with custom colours - for this the css is already set up, but certain elements (`<header>,<section>,<a>`) need author classes, or, even better, custom css included via YAML

[2016-06-07 10:54] ChilliByte commented on #70
see #92 for custom css

I know its exam season, but how is the front matter generator coming along?

[2016-06-07 11:59] isaacrg commented on #70
I've done little on it, in part because I suspect we may need to create an application that handles editing of posts, as well.

[2016-06-07 12:14] ir-g commented on #70
I've done little on it, in part because I suspect we may need to create an application that handles editing of posts, as well - for when the website is handed over to the next group of writers/etc

[2016-06-23 06:07] isaacrg opened #93 "Feedburner Digest email"
(It worked!)

Any thoughts?

[2016-09-14 08:38] ChilliByte opened #94 "Fix Formatter"
Article formatter is broken. Fix it.
- [x] Add `edition` option
- [x] Change image url  to go to `/assets` not `assets/`
- [x] Add edition to image url filepath

[2016-11-19 20:11] #94 closed